<%- include("partials/header") %>
<body class="flex-col">
    <div class="container-med flex-col justify-between items-center mar-top-5">
        <h1>Happy Coffee Co.</h1>
        <h2>Order Tracker</h2>
        <a href="/login"> Login</a>
        <a href="/signup"> Create Barista Account</a>
    </div>
</body>
</html>