<%- include("partials/header") %>
<body>
    <div class="container-sml flex-col justify-center items-center">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <% if (locals.messages.info) { %>
         <% messages.info.forEach( el => { %>
                <div class="alert"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form class="flex-col items-center justify-between" action="/login" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Log In">
        </form>
    </div>
</body>
</html>